body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

#login-container, #app, #inventory-section, #log-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

h1, h2, h3, h4 {
    text-align: center;
    color: #343a40;
}

input, button, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    background: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background 0.3s, transform 0.1s;
    padding: 10px;
    border-radius: 8px;
}

button:hover {
    background: #0056b3;
    transform: scale(1.05);
}

#barcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#barcode {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#scanner-video {
    border: 2px solid #343a40;
    border-radius: 8px;
    display: none;
    width: 100%;
}

#product-list, #log {
    text-align: left;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#manual-add-section {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#inventory-section, #log-section {
    margin-top: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
}
#admin-section, #generate-barcode-btn, #add-product-btn, #show-inventory-btn, #show-log-btn {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

td[contenteditable="true"] {
    background-color: #f8f9fa;
    cursor: text;
}
